/* Debug */
/*
section {
    border: 2px dashed blue;
}

main {
    background-color: green;
    border: 2px dashed red;
}

div {
    border: 2px dashed purple;
}
#arena {
    border: 2px dashed red;
}
*/
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    background-image: url("bga/img/layout/back-main.jpg");
}

footer {
    height: 5vw;
    background-color: hsl(0, 0%, 100%);
}

header {
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 5vw;
    display: flex;
}

header > section {
    width: 34vw;
    align-content: center;
    justify-content: center;
}

section.control_bar {
    display:flex;
}

button {
    border: none;
    background: none;
}

.control_bar button {
    width: 2.5vw;
    height: 2.5vw;
    /* Key properties for flexible size + aspect ratio */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    overflow: hidden;
}

.control_bar nav {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

.game_settings li {
    padding-left : 1em;
    color: rgb(126, 126, 126);
    font-weight: bold;
    font-style: italic;
}

header span {
    font-style: normal;
}

main {
    position: relative;
    width: 100vw;
}

#arena {
    width: 90vw;
    position: relative;
}

#info {
    width: 10vw;
    height: 100%;
    top: 0vw;
    left: 90vw;
    position: absolute;
    background-color: hsl(31, 53%, 83%, 0.5);
}

#banner {
    width: 90vw;
    height: 5vw;
    margin: 2vw 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#hand {
    width : 90vw;
    min-height: 15vw;
    background-color: rgba(224, 224, 224, 0.5);
    display: flex;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
    row-gap: 1vw;
    align-items: center;
    flex-wrap: wrap;
}

.whiteblock {
    width: 105%;
    height: 130%;
    background-color: rgba(255, 248, 216, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    position: absolute;
    z-index: 0;
}

.board_wrap {
    width: 40vw;
    aspect-ratio: 2.01793721973;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top: 15vw;
    left: 45vw;
    transform: translate(-50%, -50%);
}

.board {
    position: relative;
    /* Key properties for flexible size + aspect ratio */
    background-image: url("img/boards_v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    /* The element needs its own dimensions for the background to fill */
    width: 100%; /* Example */
    height: 100%; /* Example */
    overflow: hidden; /* Optional: ensures cropped parts aren't visible if element has padding */
    z-index: 10;
}

/* card */
.cardname {
    width: 100%;
    position: absolute;
    top: 2%;
    text-align: center; 
    font-size: 0.6vw;
    font-weight: bold;
    z-index: 30;
}

.card {
    width: 9vw;
    aspect-ratio: 0.64;
    background-image: url("img/cards_v2.jpg");
    background-size: 90vw 112.5vw;
    background-position: 0% 0%;
    border-radius: 1vw;
    position: relative;
    z-index: 20;
}
.card--type_1 {
    top: -35%;
    left: -110%;
}

.card--type_2 {
    top: -35%;
    left: -30%;
}

.card--type_3 {
    top: -35%;
    left: -14%;
}

.cardwrap {
    width: 9vw;
    aspect-ratio: 0.64;
    position: relative;
    z-index:20;
    border-radius: 1vw;
    box-shadow: 1vw 0.5vw 0.5vw grey;
}

.cardwrap:hover {
    cursor: pointer;
    opacity: 0.9;
}


/* Built card */
.boarditem {
    position: relative;
    box-shadow: none;
    z-index: 20;
    overflow: hidden;
    outline : 1px solid white;
    border-radius: 1vw;
}

.boarditem--active {
    outline: 2px solid red;
}

.boarditem--proto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.boarditem--type_1 {
    width: 2.8vw;
    aspect-ratio: 1;
    border-radius: 0.5vw;
}

.boarditem--type_2 {
    width: 5.6vw;
    aspect-ratio: 2;
    border-radius: 0.5vw;
}

.boarditem--type_3 {
    width: 7vw;
    aspect-ratio: 2.5;
    border-radius: 0.5vw;
}

/* Zone */
.zone {
    position: absolute;
    width: 51%;
    min-height: 2.8vw;
    display: flex;
    gap: 0.1vw;
    row-gap: 0.1vw;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.zone--rsc {
    bottom: 101%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap-reverse;
}

.zone--red {
    width: 60%;
    top: 0%;
    left: 24%;
    flex-direction: row;
    justify-content: left;
}

.zone--blue {
    top: 25%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
}

.zone--yellow {
    top: 25%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
}

.zone--green {
    top: 50%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
}

.zone--purple {
    top: 50%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
}

.zone--buffer {
    bottom: 101%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
    flex-wrap: wrap-reverse;
}

/* Card back & wonder dock */
.cardback {
    width: 9vw;
    aspect-ratio: 0.64130434782;
    background-image: url("img/cardback_v2.png");
    background-size: 27vw 14.0338983051vw;
    background-position: 100% 0%;
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s ease-in-out, left 1s ease-in-out, z-index 0.01s;
    transition-delay: 0s, 0s, 0.99s;
    border-radius: 1vw;
}
/* Normal stage 1 */
.cardback--dock_1 {
    top: 75%;
    left: 18.5%;
    z-index: 5;
}
/* Normal stage 2 */
.cardback--dock_2 {
    top: 75%;
    left: 50%;
    z-index: 5;
}
/* Normal stage 3 */
.cardback--dock_3 {
    top: 75%;
    left: 81.5%;
    z-index: 5;
}
/* Babylon Night stage 1 */
.cardback--dock_4 {
    top: 75%;
    left: 55%;
    z-index: 5;
}
/* Babylon Night stage 2 */
.cardback--dock_5 {
    top: 75%;
    left: 86%;
    z-index: 5;
}

/* Gizah Night stage 1 */
.cardback--dock_6 {
    top: 75%;
    left: 12.5%;
    z-index: 5;
}

/* Gizah Night stage 2 */
.cardback--dock_7 {
    top: 75%;
    left: 37.5%;
    z-index: 5;
}
/* Gizah Night stage 3 */
.cardback--dock_8 {
    top: 75%;
    left: 62.5%;
    z-index: 5;
}
/* Gizah Night stage 4 */
.cardback--dock_9 {
    top: 75%;
    left: 87.5%;
    z-index: 5;
}
