/* Debug */
/*
section {
    border: 2px dashed blue;
}

main {
    background-color: green;
    border: 2px dashed red;
}

div {
    border: 2px dashed purple;
}
#arena {
    border: 2px dashed red;
}
*/
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    background-image: url("bga/img/layout/back-main.jpg");
}

footer {
    height: 5vw;
    background-color: hsl(0, 0%, 100%);
}

header {
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    height: 5vw;
    display: flex;
}

header > section {
    width: 34vw;
    align-content: center;
    justify-content: center;
}

section.control_bar {
    display:flex;
}

button {
    border: none;
    background: none;
}

.control_bar button {
    width: 2.5vw;
    height: 2.5vw;
    /* Key properties for flexible size + aspect ratio */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    overflow: hidden;
}

.control_bar nav {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
  }

.game_settings li {
    padding-left : 1em;
    color: rgb(126, 126, 126);
    font-weight: bold;
    font-style: italic;
}

header span {
    font-style: normal;
}

main {
    position: relative;
    width: 100vw;
}

#arena {
    width: 90vw;
    position: relative;
}

#info {
    width: 10vw;
    height: 100%;
    top: 0vw;
    left: 90vw;
    position: absolute;
    background-color: hsl(31, 53%, 83%, 0.5);
}

#banner {
    display:flex;
    width: 90vw;
    height: 5vw;
    margin: 2vw 0;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;;
    align-items: center;
    font-size: 3vw;
    font-weight: bold;
    text-wrap: nowrap;
    overflow: hidden;
    color: burlywood;
    text-overflow: ellipsis;
}

#hand {
    width : 90vw;
    min-height: 15vw;
    background-color: rgba(224, 224, 224, 0.5);
    display: flex;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
    row-gap: 1vw;
    align-items: center;
    flex-wrap: wrap;
}

.whiteblock {
    width: 105%;
    height: 130%;
    background-color: rgba(255, 248, 216, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    position: absolute;
    z-index: 0;
}

.board_wrap {
    width: 40vw;
    aspect-ratio: 2.01793721973;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    top: 15vw;
    left: 45vw;
    transform: translate(-50%, -50%);
}

.board_group {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index:10;
}

.board_wrap:hover .board_group--face {
    transform: rotateY(180deg);
}

.board {
    position: absolute;
    /*position: relative;*/
    /* Key properties for flexible size + aspect ratio */
    background-image: url("img/boards_v2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;

    /* The element needs its own dimensions for the background to fill */
    width: 100%; /* Example */
    height: 100%; /* Example */
    overflow: hidden; /* Optional: ensures cropped parts aren't visible if element has padding */
    z-index: 10;
    backface-visibility: hidden;
}

.boardback {
    transform: rotateY(180deg);
}

/* card */
.cardname {
    width: 100%;
    position: absolute;
    top: 2%;
    text-align: center; 
    font-size: 0.6vw;
    font-weight: bold;
    z-index: 30;
}

.card {
    width: 9vw;
    aspect-ratio: 0.64;
    background-image: url("img/cards_v2.jpg");
    background-size: 90vw 112.5vw;
    background-position: 0% 0%;
    border-radius: 1vw;
    position: relative;
    z-index: 20;
}
.card--type_1 {
    top: -35%;
    left: -110%;
}

.card--type_2 {
    top: -35%;
    left: -30%;
}

.card--type_3 {
    top: -35%;
    left: -14%;
}

.cardwrap {
    width: 9vw;
    aspect-ratio: 0.64;
    position: relative;
    z-index:20;
    border-radius: 1vw;
    box-shadow: 1vw 0.5vw 0.5vw grey;
}

.cardwrap:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* cardmenu */
.cardmenu {
    width: 9vw;
    aspect-ratio: 4;
    position: absolute;
    z-index:30;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    display:none;
    gap: 0.5vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    opacity: 0.9;
}
.cardmenu--build{
    top: 40%;
}
.cardmenu--wonder{
    top: 60%;
}
.cardmenu--discard{
    top: 80%;
}
.cardwrap:hover > .cardmenu {
    cursor: pointer;
    opacity: 1;
    display:flex;
}
.cardarrow {
    width: 5vw;
    aspect-ratio: 1.75;
    background-image: url("img/icons_v2.png");
    background-size: 20vw 14.666666vw;
    background-position: 0% 57%;
}

.cardmenu:hover > .cardarrow {
    background-position: 0% 74%;
}
.cardmenu:active {
    outline: 2px solid red;
}
.cardoption {
    width: 5vw;
    aspect-ratio: 1.75;
    background-image: url("img/icons_v2.png");
    background-size: 20vw 14.666666vw;
}
.cardoption--build {
    background-position: 0% 33%;
    top: 40%;
}
.cardmenu:hover > .cardoption--build{
    background-position: 0% 92%;
}
.cardoption--wonder {
    background-position: 24% 33%;
    top: 60%;
}
.cardmenu:hover > .cardoption--wonder{
    background-position: 24% 92%;
}
.cardoption--discard {
    background-position: 45% 32%;
    top: 80%;
}
.cardmenu:hover > .cardoption--discard{
    background-position: 45% 91%;
}

/* Face button */
.facebutton {
    width: 10vw;
    height: 10vw;
    background-size: 10vw 10vw;
}

.facebutton:hover{
    cursor: pointer;
    opacity: 0.9;
    outline: 2px solid white;
}

.facebutton:active {
    outline: 2px solid red;
}


.facebutton--Day {
    background-image: url("img/sun.png");
}

.facebutton--Night {
    background-image: url("img/moon.png");
}

/* Trade option */
.coin {
    display: inline-block;
    width: 2vw;
    aspect-ratio: 1;
    background-image: url("img/icons_v2.png");
    background-position: 0% 0%;
    background-size: 20vw 14.666666vw;
}

.trade {
    width: 12vw;
    aspect-ratio: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    background-image: linear-gradient(
        135deg,
        #e8e8e8 0%,   /* Lighter highlight */
        #d1d1d1 25%,  /* Slightly darker */
        #b0b0b0 50%,  /* Main silver body */
        #d1d1d1 75%,  /* Reflecting light again */
        #e8e8e8 100%  /* Lighter highlight edge */
    );
    box-shadow:
        inset 0px 1px 3px rgba(255, 255, 255, 0.8), /* Inner top highlight */
        inset 0px -1px 2px rgba(0, 0, 0, 0.3),    /* Inner bottom shadow */
        5px 5px 15px rgba(0, 0, 0, 0.2); 
    border: 1px solid #a8a8a8; 
    color: rgb(142, 124, 3);
    border-radius: 10vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
}

.trade:hover {
    cursor: pointer;
    opacity: 0.9;
    outline: 2px solid white;
}

.trade:active {
    outline: 2px solid red;
}

/* Built card */
.boarditem {
    position: relative;
    box-shadow: none;
    z-index: 20;
    overflow: hidden;
    outline : 1px solid white;
    border-radius: 1vw;
}

.boarditem--active {
    outline: 2px solid red;
}

.boarditem--proto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.boarditem--type_1 {
    width: 2.8vw;
    aspect-ratio: 1;
    border-radius: 0.5vw;
}

.boarditem--type_2 {
    width: 5.6vw;
    aspect-ratio: 2;
    border-radius: 0.5vw;
}

.boarditem--type_3 {
    width: 7vw;
    aspect-ratio: 2.5;
    border-radius: 0.5vw;
}

/* Zone */
.zone {
    position: absolute;
    width: 51%;
    min-height: 2.8vw;
    display: flex;
    gap: 0.1vw;
    row-gap: 0.1vw;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.zone--rsc {
    bottom: 101%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap-reverse;
}

.zone--red {
    width: 60%;
    top: 0%;
    left: 24%;
    flex-direction: row;
    justify-content: left;
}

.zone--blue {
    top: 25%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
}

.zone--yellow {
    top: 25%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
}

.zone--green {
    top: 50%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
}

.zone--purple {
    top: 50%;
    left: 0%;
    flex-direction: row;
    justify-content: left;
}

.zone--buffer {
    bottom: 101%;
    right: 0%;
    flex-direction: row-reverse;
    justify-content: right;
    flex-wrap: wrap-reverse;
}

/* Card back & wonder dock */
.cardback {
    width: 9vw;
    aspect-ratio: 0.64130434782;
    background-image: url("img/cardback_v2.png");
    background-size: 27vw 14.0338983051vw;
    background-position: 0% 0%;
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s ease-in-out, left 1s ease-in-out, z-index 0.01s;
    transition-delay: 0s, 0s, 0.99s;
    border-radius: 1vw;
}
/* Age */
.cardback--age_1 {
    background-position: 0% 0%;
}
.cardback--age_2 {
    background-position: 50% 0%;
}
.cardback--age_3 {
    background-position: 100% 0%;
}
/* Normal stage 1 */
.cardback--dock_1 {
    top: 75%;
    left: 18.5%;
    z-index: 5;
}
/* Normal stage 2 */
.cardback--dock_2 {
    top: 75%;
    left: 50%;
    z-index: 5;
}
/* Normal stage 3 */
.cardback--dock_3 {
    top: 75%;
    left: 81.5%;
    z-index: 5;
}
/* Babylon Night stage 1 */
.cardback--dock_4 {
    top: 75%;
    left: 55%;
    z-index: 5;
}
/* Babylon Night stage 2 */
.cardback--dock_5 {
    top: 75%;
    left: 86%;
    z-index: 5;
}

/* Gizah Night stage 1 */
.cardback--dock_6 {
    top: 75%;
    left: 12.5%;
    z-index: 5;
}

/* Gizah Night stage 2 */
.cardback--dock_7 {
    top: 75%;
    left: 37.5%;
    z-index: 5;
}
/* Gizah Night stage 3 */
.cardback--dock_8 {
    top: 75%;
    left: 62.5%;
    z-index: 5;
}
/* Gizah Night stage 4 */
.cardback--dock_9 {
    top: 75%;
    left: 87.5%;
    z-index: 5;
}
